// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign_in_with_github {
  background-image: url("sign_in_with_github.png");
  text-indent: -15000px;
  display: block;
  width: 214px;
  height: 37px;
  margin: 5% auto;
}

#login-text {
  float: right;
  margin: 2.3em 0;
}