<h1>Transactions</h1>

<%= render 'import_form' %>

<% if @transactions.present? %>
<table width="100%" border="0">
  <thead>
    <tr>
      <% @transactions.first.attributes.keys.each do |attribute| %>
      <td><%= attribute.capitalize %></td>
      <% end %>
    </tr>
  </thead>
  <% @transactions.each do |transaction| %>
  <tr>
    <% transaction.attributes.keys.each do |attribute| %>
    <td><%= transaction.send attribute.to_sym %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<% else %>
Nenhuma transação feita até o momento.
<% end %>
